/* ===== Section ===== */
.toys-section {
    width: 100%;
    min-height: 100vh;
    background-color: #F4FFF9;
}

/* ===== Heading ===== */

.toys-section h1 {
        text-align: center;
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 40px 0;
}


/* ===== Horizontal Scroll ===== */
.Toys-card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.Toys-card::-webkit-scrollbar {
    display: none;
}

/* ===== Card ===== */
.Toys-box {
    flex: 0 0 auto;
    width: 260px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.Toys-box:hover {
    transform: scale(1.05);
}

/* ===== PERFECT SQUARE IMAGE ===== */
.toy-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toy-img img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

/* ===== Content ===== */
.toy-content {
    padding: 14px;
}

.toy-content h3 {
    font-size: 15px;
    margin-bottom: 6px;
}

.toy-content p {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.price {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ===== Button ===== */
.toy-content button {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    border: none;
    background: #dce6a1;
    font-weight: bold;
    cursor: pointer;
}

.toy-content button:hover {
    background: #cfdc7a;
}
