.contact-section {
    width: 100%;
    height: 712px;
    background-color: #A8E6CF;
}

.contact-section h1 {
    text-align: center;
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 40px 0;
}
.contact-section p{
    font-size: 20px;
    padding: 0px 40px;
}